<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>shoaib portfolio.com</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro"
    />
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <header>
      <!-- <img src="../images/logo.jpg" /> -->
      <nav>
        <h1>
          <span style="color: red; font-size: 38px; font-family: cursive"
            >M .</span
          >S<span
            span
            style="color: red; font-family: 'Times New Roman', Times, serif"
          ></span>
        </h1>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Skills</a></li>
          <li><a href="#">Testimonial</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Templates</a></li>
        </ul>
        <button>Hire Me</button>
      </nav>
    </header>
    <!-- <section class="about_section1">
      <div class="inner_content">
        <div class="about_me">
          <h4>WELCOME TO MY WORLD</h4>
          <h1>Hi, I’m <span style="color: #fd246c">Muhammad Shoaib</span></h1>
          <p>
            Building Your Idea Through My Development Skills, front-end web
            development, specializing in React JS, Next JS, Tailwind CSS, HTML,
            CSS, Bootstrap, React Bootstrap TypeScript, and Material-UI. With a
            strong foundation in these technologies, I aim to create responsive
            and user-friendly web interfaces, leveraging my skills to contribute
            to innovative projects.
          </p>
          <h3>Find with me</h3>
          <ul>
            <li>
              <a href="#"><i id="icon" data-feather="facebook"></i></a>
            </li>
            <li>
              <a href="#"><i id="icon" data-feather="twitter"></i></a>
            </li>
            <li>
              <a href="#"><i id="icon" data-feather="linkedin"></i></a>
            </li>
          </ul>
        </div>
        <div class="image">
          <img
            src="./images/IMG_20220619_230806-fotor-bg-remover-20240623125845.png"
            alt=""
          />
        </div>
      </div>
    </section> -->
    <!-- <section class="about_section2">
      <div class="my_items">
        <div class="item">
          <div class="image">
            <img src="images/Experience.c08a340e.svg" alt="" />
          </div>
          <div class="div">
            <h1>2 years job</h1>
            <h3>Experience</h3>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img src="images/Completed.dc9c1abd.svg" alt="" />
          </div>
          <div class="div">
            <h1>90+ Projects</h1>
            <h3>Completed</h3>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img src="images/Support.32cd58a0.svg" alt="" />
          </div>
          <div class="div">
            <h1>Online 24/7</h1>
            <h3>Support</h3>
          </div>
        </div>
      </div>
    </section> -->
    <!-- <section class="about_section3">
      <div class="top_bar">
        <h2>CREATIVE SERVICE</h2>
        <h1>What Do I Offer?</h1>
      </div>
      <div class="work">
        <div class="card">
          <div class="top">
            <div class="image">
              <img src="images/coding.5a68c90d.svg" alt="" />
            </div>
          </div>
          <div class="info">
            <h1>Web Development</h1>
            <p>
              For web development, we create stunning, user-friendly websites
              tailored to your brand and goals. Our expertise in coding, design,
              and optimization ensures a seamless online presence that
              captivates and converts visitors.
            </p>
          </div>
          <img id="elipse" src="images/elips-1.c7f3c9ef.svg" alt="" />
        </div>
        <div class="card">
          <div class="top">
            <div class="image image2">
              <img src="images/design.e64e6481.svg" alt="" />
            </div>
          </div>
          <div class="info">
            <h1>Creative Design</h1>
            <p>
              With creative design, we bring your vision to life through
              captivating visuals and branding. Our artistic prowess transforms
              ideas into eye-catching graphics, logos, and marketing materials
              that resonate with your audience and elevate your brand identity.
            </p>
          </div>
          <img id="elipse" src="images/elips-2.0ef82b98.svg" alt="" />
        </div>
        <div class="card">
          <div class="top">
            <div class="image image3">
              <img src="images/project.1c641686.svg" alt="" />
            </div>
          </div>
          <div class="info">
            <h1>Project Consultancy</h1>
            <p>
              In project consultancy, we serve as your strategic partner,
              offering expert guidance to navigate complex endeavors. Our
              tailored solutions and insights ensure seamless project execution,
              cost-efficiency, and optimal results, empowering your business to
              thrive.
            </p>
          </div>
          <img id="elipse" src="images/elips-3.3e0ebc30.svg" alt="" />
        </div>
        <div class="card">
          <div class="top">
            <div class="image image4">
              <img src="images/services.01a39e4a.svg" alt="" />
            </div>
          </div>
          <div class="info">
            <h1>Exceptional Services</h1>
            <p>
              Our focus on excellence shines through in every project. We
              meticulously plan, design, and develop solutions that exceed
              expectations. Trust us for flawlessly executed projects that
              deliver tangible results and drive success.
            </p>
          </div>
          <img id="elipse" src="images/elips-4.fabeef5c.svg" alt="" />
        </div>
        <div class="card">
          <div class="top">
            <div class="image image5">
              <img src="images/idea.c7149f90.svg" alt="" />
            </div>
          </div>
          <div class="info">
            <h1>Awesome Idea</h1>
            <p>
              With Awesome Idea, we transform your innovative concepts into
              reality. Our creative team refines, prototypes, and brings your
              ideas to life, ensuring they're not just great but truly
              exceptional. Your vision, our expertise, limitless possibilities.
            </p>
          </div>
          <img id="elipse" src="images/elips-5.7dd30054.svg" alt="" />
        </div>
        <div class="card">
          <div class="top">
            <div class="image image6">
              <img src="images/development.9b47b35d.svg" alt="" />
            </div>
          </div>
          <div class="info">
            <h1>Development Design</h1>
            <p>
              Development Design is our specialty. We seamlessly blend
              development and design, crafting websites and applications that
              are not only functional but also visually appealing. Our holistic
              approach ensures a harmonious and engaging user experience.
            </p>
          </div>
          <img id="elipse" src="images/elips-6.abd29324.svg" alt="" />
        </div>
      </div>
    </section> -->
    <!-- <section class="about_section4">
      <div class="about_me">
        <div class="image">
          <img
            src="images/IMG_20220619_230806-fotor-bg-remover-20240623125845.png"
            alt=""
          />
        </div>
        <div class="personal_details">
          <p id="special">WHO I AM?</p>
          <h1>About Me</h1>
          <p>
            First of all, I am very Thankful to you for Wisting my Portfolio, my
            name is <span style="color: #152a60"> Muhammad Shoaib </span>, and i
            am a frontend React developer I have two years of experience in
            front-end development. I am doing my fronted from Tech gater It
            Solutions, and my specialization in React JS,and Next JS with
            Material UI and Tailwind CSS, and also html css or Bootstrap
            Javascript, Typescript or Firebase.
          </p>
          <p>
            I have a deep interest in web development i made
            <span style="background-color: yellow; font-weight: 600"
              >90+ live projects</span
            >
            for a company and my clients. I wish to use my technical acumen to
            contribute to a team that works and scales and also creates a
            positive impact on society. I Love to join you to improve my
            development skills and communication skills.
          </p>
          <button>Download CV</button>
        </div>
      </div>
    </section> -->
    <!-- <script>
      feather.replace();
    </script> -->

    <script>
      const findVowels = (str) => {
        let count = 0;
        const vowels = ["a", "e", "i", "o", "u"];
        for (let char of str.toLowerCase()) {
          if (vowels.includes(char)) {
            count++;
          }
        }
        return count;
      };
    </script>
  </body>
</html>
