@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:wght@300&family=Urbanist:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: rgb(236, 240, 243);
}
p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
span::selection {
  color: #fff;
  background-color: #fd246c;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(236, 240, 243);
  z-index: 111;
}
header nav {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 14vh;
}
header nav ul {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  font-weight: 500;
  color: #152a60;
  text-decoration: none;
  transition: 0.5s;
}
header nav ul li a:hover {
  color: #fd246c;
}

header nav button {
  width: 100px;
  height: 45px;
  background-color: #fd246c;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 1px 2px 5px #ddd;
}

.about_section1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.about_section1 .inner_content {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about_section1 .inner_content .about_me {
  width: 63%;
}
.about_section1 .inner_content .about_me h4 {
  color: #152a60;
  font-size: 24px;
  font-weight: 500;
}
.about_section1 .inner_content .about_me h1 {
  color: #152a60;
  font-size: 54px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
.about_section1 .inner_content .about_me p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.4;
  z-index: -11111;
}

.about_section1 .inner_content .about_me h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  color: #152a60;
  margin-top: 20px;
}

.about_section1 .inner_content .about_me ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  margin-top: 20px;
}
.about_section1 .inner_content .about_me ul li {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    rgb(238, 240, 243),
    rgb(255, 255, 255)
  );
  box-shadow: -4px -4px 20px #fff, 4px 4px 20px #ddd;
}
.about_section1 .inner_content .about_me ul li:hover {
  transform: translateY(-10px);
  background: linear-gradient(to bottom, red, rgb(174, 0, 0));
}
.about_section1 .inner_content .about_me ul li:hover #icon {
  color: #fff;
}

.about_section1 .inner_content .image {
  width: 35%;
  max-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon {
  width: 22px;
  color: #152a60;
  transition: 0.2s;
}

.about_section1 .inner_content .image img {
  object-fit: contain;
  position: relative;
  bottom: 50px;
  border-radius: 20px;
}

.about_section2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

.about_section2 .my_items {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 100px;
  padding: 0 20px;
  height: 120px;
}

.about_section2 .my_items .item {
  display: flex;
  align-items: center;
}
.about_section2 .my_items .item .image {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fd246c;
}
.about_section2 .my_items .item .div {
  margin-left: 10px;
}
.about_section2 .my_items .item .div h3 {
  color: #fd246c;
}

.about_section3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 100px;
}
.about_section3 .top_bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about_section3 .top_bar h2 {
  color: #fd246c;
  font-size: 20px;
}
.about_section3 .top_bar h1 {
  font-size: 56px;
  color: #152a60;
}

.about_section3 .work {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  align-items: center;
  justify-content: space-between;
}
.about_section3 .work .card {
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(145deg, rgb(234, 236, 240), rgb(255, 255, 255));
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: -6px -6px 30px #f6f6f6, 10px 10px 30px #eee;
  margin-bottom: 40px;
}
.about_section3 .work .card .top {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.about_section3 .work .card .image {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: #fd246c;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 16px;
}
.about_section3 .work .card .image img {
  z-index: 1;
}
.about_section3 .work .card .image2 {
  background-color: #48cda0;
}
.about_section3 .work .card .image3 {
  background-color: #177fff;
}
.about_section3 .work .card .image4 {
  background-color: #e6bc14;
}
.about_section3 .work .card .image5 {
  background-color: #e614df;
}
.about_section3 .work .card .image6 {
  background-color: #14dfe6;
}

.about_section3 .work .card .image::before {
  width: 50px;
  height: 70px;
  content: "";
  position: absolute;
  background: #fd246c;
  opacity: 0.3;
  bottom: 40px;
}
.about_section3 .work .card .image2::before {
  width: 50px;
  height: 70px;
  content: "";
  position: absolute;
  background: #48cda0;
  opacity: 0.3;
  bottom: 40px;
}
.about_section3 .work .card .image3::before {
  width: 50px;
  height: 70px;
  content: "";
  position: absolute;
  background: #177fff;
  opacity: 0.3;
  bottom: 40px;
}
.about_section3 .work .card .image4::before {
  width: 50px;
  height: 70px;
  content: "";
  position: absolute;
  background: #e6bc14;
  opacity: 0.3;
  bottom: 40px;
}
.about_section3 .work .card .image5::before {
  width: 50px;
  height: 70px;
  content: "";
  position: absolute;
  background: #e614df;
  opacity: 0.3;
  bottom: 40px;
}
.about_section3 .work .card .image6::before {
  width: 50px;
  height: 70px;
  content: "";
  position: absolute;
  background: #14dfe6;
  opacity: 0.3;
  bottom: 40px;
}
.about_section3 .work .card .info {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-bottom: 30px;
}

.about_section3 .work .card .info h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #152a60;
  font-size: 26px;
}
.about_section3 .work .card .info p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 24px;
  opacity: 0.4;
}
.about_section3 .work .card #elipse {
  position: absolute;
  bottom: 0;
  right: 0;
}

.about_section4 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}
.about_section4 .about_me {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about_section4 .about_me .image {
  background: linear-gradient(145deg, rgb(234, 236, 240), rgb(255, 255, 255));
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: -6px -6px 10px #f6f6f6, 10px 10px 20px #eee;
  width: 30%;
  max-height: 80vh;
}
.about_section4 .about_me .image img {
  width: 100%;
}
.about_section4 .about_me .personal_details {
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh;
}
.about_section4 .about_me .personal_details #special {
  color: #fd246c;
}
.about_section4 .about_me .personal_details h1 {
  color: #152a60;
  font-size: 40px;
}
.about_section4 .about_me .personal_details p {
  line-height: 30px;
  font-weight: 500;
  color: #666;
  margin-bottom: 20px;
}

.about_section4 .about_me .personal_details button {
  width: 140px;
  height: 45px;
  background-color: #fd246c;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 1px 2px 5px #ddd;
}
